@import url('https://fonts.googleapis.com/css?family=Lato:400|Montserrat:700');
* {
  padding: 0;
  margin: 0;
  border: 0;
}
h1 {
  margin: 0px;
}
a {
  text-decoration: none;
  color: white;
}
li:hover {
  color: #18bc9c;
  cursor: pointer;
}
img {
  width: 100%;
}
.menu-header {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  background-color: #2c3e50;
  color: white;
  display: flex;
  flex-direction: row;
  position: fixed;
  padding: 16px 8px;
  width: 100%;
}
.menu-logo {
  font-size: 24px;
  padding: 5px 0px;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}
.menu-itens{
  justify-content: flex-end;
  text-align: right;
  flex-grow: 3;
  padding: 10px 30px 10px 10px;
  justify-content: center;
  align-items: center;
}
.menu-topics {
  display: inline-block;
  padding: 0px 20px;
}
.page-top{
  padding: 120px 0px 95px 0px;
  text-align: center;
  background-color: #18bc9c;
  color: white;
  width: 100vw;
}
.img-profile-top{
  max-width: 250px;
  margin: 0px 30vw 30px 35vw;
}
.h1-top{
  font-family: 'Montserrat', sans-serif;
  font-size: 76px;
  font-weight: 700;
  margin: 0px;
}
.star-white{
  display: flex;
  align-items: center;
  color: white;
  margin: 40px 40%;
  font-size: 35px;
  text-align: center;
}
.star-white hr{
  border: 2px solid white;
  margin: 0px 10px;
  width: 100px;
}
.h2-top{
  font-family: 'Lato', sans-serif;
  font-size: 28px;
  font-weight: 300px;
}
.h2-dark{
  font-size: 48px;
  color: #2c3e50;
  margin: 0px;
}
.star-dark{
  display: flex;
  align-items: center;
  color: #2c3e50;
  margin: 40px 40%;
  font-size: 35px;
  text-align: center;
}
.star-dark hr{
  border: 2px solid #2c3e50;
  margin: 0px 10px;
  width: 100px;
}
.portfolio-title-container{
  padding: 96px 0px;
}
.title-portfolio {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.icons-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.img-portfolio{
  max-width: 350px;
  width: inherit;
  padding: 25px 0px;
}
.about{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background-color: #18bc9c;
  padding: 96px 0px;
}
.h2-white{
  font-size: 48px;
  color: white;
  margin: 0px;
}
.sec-about{
  display: flex;
  justify-content: center;
}
.p-about{
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: white;
  line-height: 30px;
  margin: 20px;
  text-align: left;
  max-width: 350px;
}
.btn-about{
  background-color: transparent;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 20px;
  color: white;
  outline: 2px;
  border: 2px solid white;
  border-radius: 5px;
  padding: 20px 28px;
  margin: 20px;
}
.btn-about:hover{
  background-color: white;
  color: #2c3e50;
  transition: .15s;
}
.contact{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 96px 0px;
}
.form-contact{
  margin: 0px 275px;
  width: 730px;
  display: flex;
  flex-direction: column;
}
.hr-form{
  border: 0.5px solid #E9ECEF;
}
.text-form{
  width: inherit;
  padding: 10px 0px;
  font-size: 24px;s
  font-family: 'Lato', sans-serif;
  margin: 15px 0px;
  height: 30px;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  resize: none;
}
.msg-form{
  width: inherit;
  padding: 10px 0px;
  font-size: 24px;s
  font-family: 'Lato', sans-serif;
  margin: 15px 0px;
  height: 150px;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  resize: none;
}
.btn-container{
  margin: 25px 0;
  width: inherit;
}
.btn-form{
  background-color: #18bc9c;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  padding: 20px 28px;
  margin-right: 90%;
}
.btn-form:hover{
  background-color: #197e6a;
  transition: .15s
}
.footer{
  background-color: #2c3e50;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  padding: 80px 0px;
}
.h3-end{
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: white;
  margin: 0px 0px 24px 0px;
}
.p-end {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: white;
  line-height: 30px;
  margin: 0px;
}
.ul-icons-end{
  display: flex;
  top: 50%;
  left: 50%;
  list-style: none;
}
.li-icons-end {
  display: inline-block;
  padding: 12px 12px;
  list-style: none;
  margin: 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 2px solid white;
  font-size: 20px;
}
.li-icons-end:hover{
  background-color: white;
  transition: .15s
}
.li-icons-end i:hover{
  color: #2c3e50;
  transition: .15s
}
.end-1 p a{
  color: #18bc9c;
}
.copyright{
  background-color: #1A252E;
  font-size: 80%;
  font-weight: 400;
  color: #fff;
  text-align: center;
  font-family: 'Lato', sans-serif;
  padding: 30px;
}
