@import url('https://fonts.googleapis.com/css?family=Lato:300|Montserrat:700');

a{
  text-decoration: none;
  color: white;
}
li {
  display: inline-block;
  padding: 0px 20px;
}
li:hover {
  color: #18bc9c;
  cursor: pointer;

}
.menu-header {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 700;
  background-color: #343a40;
  color: white;
  display: flex;
  flex-direction: row;
  padding: 16px 8px;
  text-align: center;
  position: fixed;
  width: 1280px;
}
.menu-logo {
  font-size: 24px;
  padding: 5px 0px;
  flex-grow: 1;
}
.menu-itens{
  justify-content: flex-end;
  text-align: right;
  flex-grow: 3;
  padding: 0px 50px 0px 0px;
}
.page-top{
  padding: 100px 0px 95px 0px;
  text-align: center;
  background-color: #18bc9c;
  color: white;
  width: 1280px;
}
.img-profile-top{
  margin: 100px 430px 50px 430px;
}
.mont-top{
  font-family: 'Montserrat', sans-serif;
  font-size: 76px;
  font-weight: 700;
  margin: 0px;
}
.lato-top{
  font-family: 'Lato', sans-serif;
  font-size: 28px;
  font-weight: 300px;
}
.star{
    border: 2px solid white;
    margin: 40px 500px;
}
.portfolio {
  font-family: 'Montserrat', sans-serif;
  display: flex;
}
.img-portfolio{

}
.footer {
  display: flex;
}
